@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #8AA775;
  overflow-x: hidden;
}

/* NAVBAR */

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  padding: 1vw 0vw;
  z-index: 1;
  animation: scroll-page;
  animation-timeline: scroll(y) ;
}

.logo{
  display: flex;
  align-items: center;
  gap: 1vw;
}

.logo img{
  width: 4vw;
  height: 4vw;
}

.logo h3{
  font-size: 1.5vw;
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2.5vw;
  justify-content: space-between;
  font-size: 1.2vw;
}

.navbar ul a {
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.navbar .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  cursor: pointer;
}

@keyframes scroll-page{
  0%{
    background-color: rgba(0, 0, 0, 0);
    color: white;
  }
  10%{
    background-color: #3A6D8C;
    color: rgb(255, 255, 255);
  }
  100%{
    background-color: #3A6D8C;
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #3A6D8C;
    width: 100vw;
    height: auto;
  }

  .navbar .menu-toggle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  .navbar ul.slide {
    display: flex;
    padding: 2vh 0;
    font-size: 1.5vh;
  }

  .navbar ul li a{
    padding: 5vh;
  }

  .navbar .menu-toggle {
    display: flex;  
  }

  .navbar .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
  }
  .navbar .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .navbar .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }
  .navbar .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .navbar .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
  }
  .navbar .menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
  }

  .logo img{
  width: 4vh;
  height: 4vh;
}

.logo h3{
  font-size: 1.5vh;
  font-weight: 700;
}
}

/* TITLE */

#title{
    color: white;
    position: absolute;
    text-align: center;
    width: 100vw;
    background-image: url(asset/bratan-temple\ 2.png);
    background-size: cover;
    height: 20vh;
    padding: 10vh 0 10vh 0 ;
    font-size: 3vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.wadah{
  position: absolute;
  margin-top: 45vh;
}

@media (max-width: 768px) {
  #title{
    width: 100vw;
    height: 10vh;
    padding: 10vh 0 0vh 0 ;
    font-size: 2vh;
  }
  
  .wadah{
    position: absolute;
    margin-top: 20vh;
  }

  #about .title h1{
    font-size: 2vh;
  }

  #about .content{
    display: flex;
    flex-direction: column;
  }

  .content .gambar{
    width: 60vw !important;
    margin-top: 3vh;
  }

  .informasi-buka .hari-buka img{
    width: 10vw !important;
  }

  .informasi-buka .jam-buka img{
    width: 9vw !important;
  }

  .container-content .content img{
    width: 7vw !important;
  }

  .container-content .content p{
    font-size: 3vw !important;
  }

  #fasilitas .container-content{
    gap: 8vw;
  }

  #peraturan .container {
    display: grid;
    grid-auto-flow: row;
  }

  #peraturan h1{
    margin-bottom: 0vh !important;
  }

  #peraturan .container .content img{
    width: 10vw !important;
    margin-top: -5vh !important;
    margin-left: -5vw !important;
  }

  #peraturan .container .content{
    width: 80vw !important;
    margin-top: 2.5vh;
  }

  #peraturan .container .content h4{
    font-size: 3vw !important;
    margin: 1vh 0 1vh 0 !important;
  }

  #peraturan .container .content p{
    font-size: 1.7vw !important;
    text-align: center !important;
    margin: 0 !important;
  }

  #recomendation-activity{
    height: auto !important;
  }
  
  #recomendation-activity .container{
    gap: 5vw;
  }
  
  .card{
    width: 50vw !important;
    height: 30vh !important;
  }

  #tiket h1{
    font-size: 2.5vh !important;
  }

  .card-row{
    padding: 0 3vw !important;
  }

  .icon{
    width: 10vw !important;
  }

  .day{
    font-size: 3vw !important;
    width: 40vw;
  }

  .custom-line{
    margin: 1.5vh 0 !important;
  }

  .jenis-tiket-harga{
    height: 3vh !important;
    margin-bottom: 1vh;
  }

  .description{
    font-size: 3vw !important;
  }

  .buttons{
    margin-top: 3vh !important;
  }

  .buy-button{
    padding: 2vh 3vw !important;
    font-size: 3vw !important;
  }

  .footer-atas{
    display: flex;
    flex-direction: column;
  }

  .footer-atas .about-us{
    width: 90vw !important;
    font-size: 3vw;
  }

  .menu ul{
    gap: 1vw !important;
    font-size: 2.5vw !important;
    width: 90vw !important;
    padding: 0;
  }

  .footer-bawah{
    height: 8vh !important;
  }

  .footer-bawah p{
    font-size: 3vw !important;
  }

  .footer-bawah .contant img{
    width: 6vw !important;
  }

  .footer-bawah .contant .instagram{
    width: 5vw !important;
    margin-left: 1vw;
  }
}

/* ABOUT */

#about{
    width: 84vw;
    padding: 0 8vw;
}

#about .content{
  display: flex;
  gap: 5vw;
  align-items: center;
}

.content img{
  width: 40vw;
}

.informasi-buka{
  display: flex;
  gap: 8vw;
}

.informasi-buka .hari-buka img{
  width: 4vw;
}

.informasi-buka .jam-buka img{
  width: 3vw;
}

.informasi-buka .hari-buka, .informasi-buka .jam-buka{
  display: flex;
  gap: 1vw;
}

/* FASILITAS */
#fasilitas{
  padding: 0 8vw;
}

#fasilitas .container-content{
  display: flex;
  gap: 5vw;
}

.container-content .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-content .content img{
  width: 3.5vw;
}

.container-content .content p{
  font-size: 1.5vw;
  font-weight: 300;
}

/* PERATURAN */
#peraturan{
  padding: 0 8vw 8vh 8vw;
  width: 84vw;
}

#peraturan h1{
  margin-bottom: 8vh;
}

#peraturan .container .content img{
  width: 5vw;
  margin-top: -8vh;
  margin-left: -3vw;
  position: absolute;
}

#peraturan .container .content{
  background-color: #EFEDE0;
  border-radius: 10px;
  padding: 3vh 2vw 2vh 2vw;
  text-align: center;
}

#peraturan .container .content h4{
  color: #C96868;
  font-size: 1vw;
  margin: 4vh 0 1.5vh 0;
}

#peraturan .container .content p{
  color: #395462;
  font-size: 0.9vw;
  font-weight: 600;
  text-align: start;
  margin: 0 0 1vh 0;
}

/* RECOMENDATION ACTIVITY */

#recomendation-activity{
  background-color: #EFEDE0;
  width: 100vw;
  height: 70vh;
  padding: 3vh 3vw;
}

#recomendation-activity h1{
  align-items: center;
  display: flex;
  justify-content: center;
  color: #C96868;
}

.container {
    display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 3vw;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  justify-content: flex-start; /* Default untuk lebih dari dua elemen */
}

.container.card-few {
  justify-content: center; /* Center items ketika kurang dari tiga elemen */
  gap: 5vw; /* Gap lebih kecil untuk membuat elemen lebih berdekatan */
}

.card {
    position: relative;
    width: 25vw;
    height: 50vh;
    border-radius: 0 30px 0 30px;
    overflow: hidden;
}

.card .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 0;
}


/* TIKET */

  #tiket {
    width: 100vw;
    overflow-x: hidden;
  }

  #tiket h1 {
      color: #FFE7E7;
      font-size: 2rem;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
  }

  .card-row {
    display: flex;
    gap: 2vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 3vh 3vw;
  }

  .card-tiket {
      background-color: #377BA5; 
      border-radius: 15px;
      padding: 2vw;
      color: white;
      transition: background-color 0.3s ease;
      scroll-snap-align: start;
      flex: 0 0 auto;
  }

  .card-tiket:nth-child(2n) {
      background-color: #D66866; 
  }

  .card-tiket:hover {
      background-color: #2C5677; 
  }

  .icon {
      width: 5vw;
  }

  .day {
      font-size: 1.1rem;
      margin-bottom: 5px;
  }

  .custom-line{
    border: none;
    height: 1px;
    background-color: #FFFFFF;
    width: 100%; 
    margin: 2vh 0; 
  }

  .jenis-tiket-harga{
    display: flex;
    align-items: center;
    gap: 9vw;
    height: 5vh;
  }

  .description {
      color: #D2D2D2;
      font-size: 0.9rem;
  }

  .price {
      color: #F4B13C;
      font-size: 1.2rem;
      font-weight: bold;
  }

  .buttons{
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
  }

  .buy-button {
    padding: 2vh 2vw;
    font-size: 1.3vw;
    background-color: #6A8DB7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .buy-button:hover {
      background-color: #54728E;
  }

  .card-row::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers */
  }

/* MAPS */

.map-container {
    width: 100%;
    height: 100%;
    padding: 8vh 0;
}

.map-container iframe { 
    width: 100%;
    height: 100%;
}

/* FOOTER */

footer{
  width: 100vw;
  padding: 0 3vw;
}

.footer-atas{
  display: flex;
}

.footer-atas .about-us{
  width: 49vw;
}

footer hr{
  width: 92vw;
  margin: 1vh 0;
}

.menu ul{
  display: flex;
  list-style: none;
  gap: 2.5vw;
  justify-content: space-between;
  font-size: 1.2vw;
}

.menu ul a {
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.footer-bawah{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 12vh;
}

.footer-bawah .contant{
  gap: 2vw;
  display: flex;
}

.footer-bawah .contant img{
  width: 3vw;
}

.footer-bawah .content img .instagram{
  width: 2.5vw;
}